<link rel="stylesheet" href="/css/style.css">
<body>

<div class="container">

<h2>Login</h2>

<form action="/auth/login" method="POST">

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<button type="submit">Login</button>

</form>

<a href="/auth/register">Create account</a>

</div>

</body>