<link rel="stylesheet" href="/css/style.css">

<body>
    <div class="container">
        <h2>Create Account</h2>
        <form action="/auth/register" method="POST"> <input type="email" name="userEmail" placeholder="Enter your email"
                required> <input type="password" name="userPassword" placeholder="Create password" required>

            <button type="submit">Sign Up</button>

        </form>
        <div> <a href="/auth/login">Login instead</a> </div>
    </div>
</body>