<link rel="stylesheet" href="/css/style.css">

<body>

<div class="container">

<h2>Register</h2>

<form action="/auth/register" method="POST">

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<button type="submit">Register</button>

</form>

<a href="/auth/login">Already have account?</a>

</div>

</body>